{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row">
    <form action="" method="POST">
    {% csrf_token %}
        <div class="col">
            <label for="roomCode">Room Code</label>
            <input type="text" class="form-control" id="roomCode" placeholder="Enter Room Code" name="room_code" required>
        </div>

        <div class="col mt-2">
           <label for="choiceSelect">Choice</label>
            <select class="form-control form-select" id="choiceSelect" name="choice" required>
                <option value="X">X</option>
                <option value="O">O</option>
            </select>
        </div>
        <div class="col-auto mt-2">
            <button type="submit" class="form-control btn btn-primary">Start Game</button>
        </div>
    </form>
    </div>

{% endblock content %}
