/* static/css/main.css */
body {
    /* width: 100%; */
    height: 90vh;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game_board {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    width: 16em;
    height: auto;
    margin: 0.5em 0;
}
.square{
    background: #0a87c9;
    width: 5em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    font-weight: 500;
    color: white;
    box-shadow: 0.025em 0.125em 0.25em rgba(0, 0, 0, 0.25);
}
.btn-primary{
    background:#0a87c9;

}
.head{
    width: 16em;
    text-align: center; 
}

b, strong{
    color: #0a87c9;
}
/*.wrapper h1, h3 {*/
/*    color: #0a2c1a;*/
/*}*/
/*label {*/
/*    font-size: 20px;*/
/*    color: #0a2c1a;*/
/*}*/
/*input, select{*/
/*    margin-bottom: 10px;*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    border: 1px solid #125a33;*/
/*    font-size: 14px;*/
/*    background-color: white;*/
/*    color: white;*/
/*}*/
/*.button{*/
/*    color: white;*/
/*    white-space: nowrap;*/
/*    background-color: #31d47d;*/
/*    padding: 10px 20px;*/
/*    border: 0;*/
/*    border-radius: 2px;*/
/*    transition: all 150ms ease-out;*/
/*}*/
